.mag-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .mag-component-list.hidden {
        display: none; }
    .mag-component-list > .body > .item {
        cursor: pointer;
        padding: 0 12px;
        vertical-align: middle;
        height: 72px;
        line-height: 72px; }
        .mag-component-list > .body > .item.mark {
            background-color: green;
            color: black; }
        .mag-component-list > .body > .item.focus {
            background-color: orange;
            color: black; }
        .mag-component-list > .body > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .mag-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
